# This file goes in /etc/systemd/system/nftables-failsafe.service

[Unit]
Description=nftables failsafe (deny all) policy
Documentation=man:nft(8) http://wiki.nftables.org
Wants=network-pre.target
Before=network-pre.target shutdown.target
Conflicts=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=null
ProtectSystem=full
ProtectHome=true
ExecStart=/usr/sbin/nft -f /etc/nftables-failsafe.conf
ExecReload=/usr/sbin/nft -f /etc/nftables-failsafe.conf
ExecStop=
